@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 50px;
  opacity: 0.1;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
h2 {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
  padding-bottom: 15px;
}
.active {
  background-color: hsl(206, 94%, 87%);
  color: #000000;
}
.notActive {
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
}
.error {
  border: 1px solid hsl(354, 84%, 57%);
}
